<!-- <p>about works!</p> -->
<div class="box">
    <ul>
       <a class="team" routerLink="/mainpage"><li><b><span>siddhu</span></b></li></a>
    </ul>
    <div class="contact">
        <a href="http://:www.facebook.com">
            <fa-icon [icon]="icon"></fa-icon>
        </a>
        <a href="http://:www.whatsapp.com">
            <fa-icon [icon]="icon"></fa-icon>
        </a>
        <a href="http://:www.twitter.com">
            <fa-icon [icon]="icon"></fa-icon>
        </a>
        <a href="http://:www.linkden.com">
            <fa-icon [icon]="icon"></fa-icon>
        </a>
    </div>
</div>
  <div class="container">
    <div class="box1">
    <h2><b>About Us Page</b></h2>
    <h4><b>siddhu provide all the courses absolutely free off coast<br> Start your coding journey with siddhu<br>
         We provide interview related information and question</b></h4>
  </div>
  <img src="/assets/image/viewimg1.jpeg" alt="error!">
</div>
  <div class="projt">
         <h3><b><u>Testimonial</u></b></h3>
  </div>
  <div class="about" id="abt">
    <!-- <a class="about" routerLink="/mainpage"> -->
    <div class="wdp">
        <!-- <h3><b>Testimonial</b></h3> -->
        <p>"I don't have words to thank
            this man, I'm really
            grateful to have this channel
             and website in my daily
            routine. If you're a mere beginner,
            then you can trust
             this guy and can put your
             time into his content. I
             can assure you that it'll
             be worth it. </p>
             <pre>
                  <b>-Ankit (web dev)</b>
                            </pre>


        <img src="/assets/image/img1.jpeg" alt="error">
    </div>
    <div class="jp">
        <p>"I don't have words to thank
            this man, I'm really
            grateful to have this channel
             and website in my daily
            routine. If you're a mere beginner,
            then you can trust
             this guy and can put your
             time into his content. I
             can assure you that it'll
             be worth it. </p>
             <pre>
                  <b>-Ankit (web dev)</b>
                            </pre>
        <img src="/assets/image/img1.jpeg" alt="error">
    </div>
    <div class="cpp">
        <p>"I don't have words to thank
            this man, I'm really
            grateful to have this channel
             and website in my daily
            routine. If you're a mere beginner,
            then you can trust
             this guy and can put your
             time into his content. I
             can assure you that it'll
             be worth it. </p>
             <pre>
                      <b>-Ankit (web dev)</b>
                            </pre>
        <img src="/assets/image/img1.jpeg" alt="error">
    </div>
<!-- </a> -->
  </div>
  <div class="footer">
    <p>&copy;copyright</p>
  </div>



  <style>
    .box{
        background-color: rgb(190, 210, 77); color: rgb(80, 169, 89); width: 100vw; height: 10vh;
        font-family: "Gill Sans", sans-serif; font-size: 1.5vw;
    }
    .box ul{
        display: inline-flex; list-style: none;
    }
    .box ul li a{
        text-decoration: none; color: rgb(80, 169, 89); margin-left: 5vw;
    }
    .box ul a li{
        text-decoration: none; color: rgb(80, 169, 89); margin-left: 5vw;
    }
    .container{
        background-color: #ffffff; color: black; width: 100vw; height: 65vh; font-family: "Gill Sans", sans-serif;
    }
    h1{
        font-size: 5vw; padding: .5vw;
    }
    .box1{
        background-color: #ffffff; color: black; width: 45vw; height: 60vh; padding: 1vw;
        font-family: "Gill Sans", sans-serif; float: left; margin-left: -13vw; padding: 1vw;
    }
    .projt{
        font-family: "Gill Sans", sans-serif; font-size: 5vw; text-align: center; color: rgb(81, 177, 88);
    }
    .about{
        /* background-color: #ffffff; */
        color: black; width: 100vw; height: 43vh; font-family: "Gill Sans", sans-serif;
        display: inline-flex;
    }
    .wdp{
        background-color: #f9f9f9; color: black; width: 25vw; height: 35vh; font-family: "Gill Sans", sans-serif;
        margin-left: 7.5vw; text-align: center;
    }
    .jp{
        background-color: #ffffff; color: black; width: 25vw; height: 40vh; font-family: "Gill Sans", sans-serif;
        margin-left: 5vw; text-align: center;
    }
    .cpp{
        background-color: #ffffff; color: black; width: 25vw; height: 40vh; font-family: "Gill Sans", sans-serif;
        margin-left: 5vw; text-align: center;
    }
    .wdp:hover{
        width: 26vw; height: 36vh;box-shadow: 2px 2px 2px 2px #B6B6B6; border-left: 1vw;
        margin-top: 1vh;
    }
    .wbp p{
        padding: 1vw; margin-top: 1vh;
    }
    .cpp:hover{
        width: 26vw; height: 41vh;box-shadow: 2px 2px 2px 2px #B6B6B6; border-left: 1vw;
    }
    .jp:hover{
        width: 26vw; height: 41vh;box-shadow: 2px 2px 2px 2px #B6B6B6; border-left: 1vw;
    }
    .contact{
        /* background-color: #ffffff; */
         color: black; width: 40vw; height: 10vh; font-family: "Gill Sans", sans-serif;
        display: inline-flex; text-align: center; margin-left: 30vw; float: right;
    }
    .contact a{
        margin-left: 5vw; margin-top: 3vh;
    }
    .about img{
        width: 5vw; height: 7vh; text-align: center; border-radius: 100%;
    }
    span{
        color: rgb(26, 97, 229); font-size: 2.5vw;
    }
    .container img{
        width: 40vw; height: 50vh; float: right; padding: 1vw;

    }
    .box ul a{
        margin-top: 2vh;
    }
    .footer{
        background-color: #ffffff; color: black; width: 100vw; height: 10vh; font-family: "Gill Sans", sans-serif;
        text-align: center;
    }

  </style>
