
<div class="nav">
  <!-- <img src="/assets/image/img1.jpeg"> -->
  <h1><span><b>Siddhu</b></span></h1>
  <a routerLink="/about"><h3><b>About</b></h3></a>
  <a routerLink="/ranksdashboard"><button>Logout</button></a>
</div>
<div class="nav1">
  <a href="#"><p><b>HTML</b></p></a>
  <a href="#"><p><b>CSS</b></p></a>
  <a href="#"><p><b>C</b></p></a>
  <a href="#"><p><b>C++</b></p></a>
  <a href="#"><p><b>JAVA</b></a>
  <a href="#"><p><b>PYTHON</b></p></a>
</div>
<!-- <div class="container"> -->
<div class="box1">
  <pre>
      Web development is the work involved in developing a website for the Internet (World Wide Web)
      or an intranet (a private network). Web development can range from developing a simple single
      static page of plain text to complex web applications, electronic businesses, and social
       network services.
     </pre>
  <div class="pro1" id="pro1">
    <h1><b><span><u>Snake Game</u></span></b></h1>

  </div>
   <pre>
      Web development is the work involved in developing a website for the Internet (World Wide Web)
      or an intranet (a private network). Web development can range from developing a simple single
      static page of plain text to complex web applications, electronic businesses, and social
       network services.
     </pre>
  <div class="pro2" id="pro2">
    <h1><b><span><u></u></span></b></h1>

  </div>
   <pre>
      Web development is the work involved in developing a website for the Internet (World Wide Web)
      or an intranet (a private network). Web development can range from developing a simple single
      static page of plain text to complex web applications, electronic businesses, and social
       network services.
     </pre>
  <div class="pro3" id="pro3">
    <h1><b><span><u></u></span></b></h1>

  </div>
   <pre>
      Web development is the work involved in developing a website for the Internet (World Wide Web)
      or an intranet (a private network). Web development can range from developing a simple single
      static page of plain text to complex web applications, electronic businesses, and social
       network services.
     </pre>
  <div class="pro4" id="4">
    <h1><b><span><u></u></span></b></h1>

  </div>
   <pre>
      Web development is the work involved in developing a website for the Internet (World Wide Web)
      or an intranet (a private network). Web development can range from developing a simple single
      static page of plain text to complex web applications, electronic businesses, and social
       network services.
     </pre>
  <div class="pro5" id="pro5">
    <h1><b><span><u></u></span></b></h1>

  </div>
   <pre>
      Web development is the work involved in developing a website for the Internet (World Wide Web)
      or an intranet (a private network). Web development can range from developing a simple single
      static page of plain text to complex web applications, electronic businesses, and social
       network services.
     </pre>
  <div class="pro6" id="pro6">
    <h1><b><span><u></u></span></b></h1>

  </div>
</div>
<div class="box2">
  <p>works !....</p>
  <!-- <div class="box2">
      <p>works !!....</p> -->
  <h3><b><span><a href="#pro1">How to print 1st programe</a></span></b></h3>
  <h1><b><span><a href="#pro2">Java Code</a></span></b></h1>
  <h3><b><span><a href="#pro3">Airthmatic</a></span></b></h3>
  <h3><b><span><a href="#pro4">Pattern</a></span></b></h3>
  <h3><b><span><a href="#pro5">Percentage</a></span></b></h3>
  <h3><b><span><a href="#pro6">cgpa</a></span></b></h3>
  <h3><b><span><a href="#pro1">Calander</a></span></b></h3>
  <h3><b><span><a href="#pro1">Palidrom</a></span></b></h3>
  <h3><b><span><a href="#pro1">Reverse</a></span></b></h3>
  <h3><b><span><a href="#pro3">Tabel</a></span></b></h3>
  <h3><b><span><a href="#pro1">Loop</a></span></b></h3>
  <h3><b><span><a href="#pro4">String</a></span></b></h3>
  <h3><b><span><a href="#pro1">Overloading</a></span></b></h3>
  <h3><b><span><a href="#pro3">Constractor</a></span></b></h3>
  <h3><b><span><a href="#pro1">Exceptation</a></span></b></h3>
</div>
<!-- </div> -->

<div class="footer">
  <p>&copy;copyright</p>
</div>

<style>
      .nav{
        background-color: rgb(143, 207, 130); color: black;
        width: 100vw; height: 10vh;
      }
      .nav img{
        width: 5vw; height: 5vh; float: left; border-radius: 20vw; margin-top: 2vh;
      }
.nav a button{
        background-color: rgb(207, 97, 66); color: black;
        width: 10vw; height: 5vh; border-radius: 20vw; margin-left: 60vw; margin-top: 2vh;
}
.nav h3{
  margin-left: 3vw;
}
.nav1{
        background-color: #ffffff; color: blue;
        width: 100vw; height: 10vh; display: inline-flex;
        text-align: center; border-bottom: .5vh solid #B6B6B6;
    }
    .nav1 a{
        text-decoration: none; color: blueviolet;  margin-left: 5vw;
    }
/* .container{
       background-color: rgb(123, 120, 119); color: black;
       width: 100vw; height: 75vh;
} */
.box1{
       background-color: transparent; color: black;
       width: 79.5vw; height: 85vh; float: right; overflow: scroll;
}
.box2{
       background-color: transparent; color: black;
       width: 19.4vw; height: 85vh; float: left; text-align: center;
       overflow: scroll;
}
.pro1{
      background-color: rgb(71, 69, 69); color: black;
       width: 60vw; height: 45vh; margin-left: 7vw;
       overflow: scroll;
}
.pro2{
      background-color: rgb(71, 69, 69); color: black;
       width: 60vw; height: 45vh; margin-left: 7vw;
       overflow: scroll;
}
.pro3{
      background-color: rgb(71, 69, 69); color: black;
       width: 60vw; height: 45vh; margin-left: 7vw;
       overflow: scroll;
}
.pro4{
      background-color: rgb(71, 69, 69); color: black;
       width: 60vw; height: 45vh; margin-left: 7vw;
       overflow: scroll;
}
.pro5{
      background-color: rgb(71, 69, 69); color: black;
       width: 60vw; height: 45vh; margin-left: 7vw;
       overflow: scroll;
}
.pro6{
      background-color: rgb(71, 69, 69); color: black;
       width: 60vw; height: 45vh;  margin-left: 7vw;
       overflow: scroll;
}
pre{
  padding: 1vh; margin: 1vw;
}
    </style>
