<div class="background">

        <div class="login">
            <a routerLink="/login"><button>Login</button></a>
        </div>
</div>

<style>
    .background{
        background-image: url("/assets/image/viewimg1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw; height: 100vh;
    }
    .login{
        color: #fff;
        width: 20vw; height: 5vh;
        border-radius: 5vw;
    }
    .login button{
        background-color: transparent;
        color: rgb(122, 105, 105);
        width: 20vw; height: 5vh;
        /* backdrop-filter: sepia(90%); */
        border-radius: 5vw; border: none;
        margin-top: 10vh; margin-left: 70vw;
    }
    .login button:hover{
        background-color: red;
        color: rgb(118, 74, 178);
    }
</style>





<!-- <div class="container">
   <p>ranksdashboard works!</p>
   <div class="box">
    <a routerLink="/login"><button>Login</button></a>
   </div>
</div>

<style>
    .container{
        background-image: url("/assets/image/viewimg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw; height: 100vh;
    }
    .box button{
        background-color: blueviolet; color: #fff;
        width: 20vw; height: 5vh;
        backdrop-filter: sepia(90%);
        border-radius: 5vw;
        margin-top: 40vh; margin-left: 30vw;
    }
</style> -->
